# Docs: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Chromium
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 150
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: Never
SpaceBeforeCpp11BracedList: true
Standard: c++20
TabWidth: 4
UseTab: ForIndentation
